body {
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

h2 {
  font-size: 36px;
}

.order-summary {
  background: linear-gradient(#ee9617 0%, #fe58da 100%);
  padding: 3%;
  color: aliceblue;
}

.item-price {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.info-form {
  display: flex;
  flex-direction: row;
}

.card-number {
  display: flex;
  flex-direction: column;
}

.expiry-date {
  display: flex;
  flex-direction: column;
}

.security-code {
  display: flex;
  flex-direction: column;
}
