/* form 1 */

body {
  margin: 4rem;
}

h1 {
  font-size: 7rem;
}

p {
  font-size: 2.8rem;
}

/* navbar */
.square {
  height: 10rem;
  width: 10rem;
  background-color: rgb(219, 218, 218);
  border: 1px solid black;
  line-height: 10rem;
  text-align: center;
  font-size: 2rem;
}

.rectangle {
  height: 10rem;
  width: 40rem;
  background-color: rgb(219, 218, 218);
  border: 1px solid black;
  line-height: 10rem;
  text-align: center;
  font-size: 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.step1 {
  font-size: 5rem;
}

/* progress-bar */

.progress-bar-heading {
  font-size: 3rem;
}
.box1 {
  height: 10rem;
  width: 10rem;
  background-color: rgb(215, 213, 213);
}

.box2 {
  height: 10rem;
  width: 7rem;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

/* form body*/
.form {
  padding: 2rem;
  margin: 3rem;
  background-color: rgb(219, 215, 215);
}

.user-info {
  font-size: 3rem;
  font-weight: 700;
}

/* form 2 */

/* form 3 */
