body {
  margin: 4rem;
  border: 0.2px solid black;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.799) 0%,
      rgba(182, 180, 180, 0.73) 100%
    ),
    url(https://c8.alamy.com/comp/CREP29/barclay-fashions-1919-drawing-of-an-evening-gown-in-the-french-magazine-CREP29.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

/* navbar */
.square {
  height: 8rem;
  width: 8rem;
  background-color: rgb(223, 221, 221, 0.5);
  border: 1px solid black;
  line-height: 9rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ20TnLC0w148QJtOFUkcdKys1ppIcuN-ERJ5lnjQGAZcPl2eSz71yU8j4fwDGbhFEsyA0&usqp=CAU);
}

.rectangle {
  height: 8rem;
  width: 35rem;
  background-color: rgb(227, 226, 226);
  border: 1px solid black;
  line-height: 9rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.step1 {
  font-size: 3rem;
}

/* progress-bar */

.progress-bar-heading {
  font-size: 1.5rem;
}

.box1 {
  height: 3.5rem;
  width: 70rem;
  background-color: rgb(198, 197, 197);
}

.box2 {
  height: 3.5rem;
  width: 7rem;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.payment-form {
  margin-left: 8rem;
}

input {
  width: 20rem;
  background-color: rgb(240, 240, 234);
  padding: 1.2rem;
  margin: 1.5rem 0;
}

.small-input {
  width: 40%;
}

label {
  font-size: 1.5rem;
  font-weight: 600;
}

.name-type {
  display: flex;
  flex-direction: column;
}

.date-info {
  display: flex;
  flex-direction: row;
  width: 100%;
}
