/* form 1 */

body {
  margin: 4rem;
  background-image: url(/Users/hackyourfuture/Documents/GitHub/hyf-homework/html-css/week3/Homework/image1.jpeg);
  height: 100vh;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

/* navbar */
.square {
  height: 8rem;
  width: 8rem;
  background-color: rgb(223, 221, 221);
  border: 1px solid black;
  line-height: 9rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.rectangle {
  height: 8rem;
  width: 35rem;
  background-color: rgb(227, 226, 226);
  border: 1px solid black;
  line-height: 9rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.step1 {
  font-size: 3rem;
}

/* progress-bar */

.progress-bar-heading {
  font-size: 1.5rem;
}
.box1 {
  height: 3.5rem;
  width: 4rem;
  background-color: rgb(215, 213, 213);
}

.box2 {
  height: 3.5rem;
  width: 7rem;
}
.progress-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

/* form body*/
/* .form {
  /* padding: rem; */
/* margin: 3rem; */
/* background-color: rgb(219, 215, 215);
} */

.user-info {
  font-size: 1.5rem;
  font-weight: 700;
}

input {
  width: 20rem;
  height: 0rem;
  padding: 2rem;
  margin: 2rem 0;
  /* text-align: right; */
}

label {
  padding: 2rem;
}

.country {
  margin-left: 2rem;
}

.address {
  margin-left: -2rem;
}

.profile-description {
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
}

.description-box {
  height: 12rem;
  width: 50rem;
  background-color: rgb(255, 254, 254);
  border: 1px solid black;
  margin: 0rem 2rem;
}

.address-note {
  margin-left: -18rem;
  margin-bottom: 0rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.button-input {
  padding: 2rem 4rem 4rem 3rem;
  font-size: 2rem;
  font-weight: 550;
  background-color: rgb(223, 221, 221);
  margin-right: 6rem;
}

.shipping-address-checkbox {
  height: 2rem;
  width: 2rem;
  padding-left: 0%;
}

.shipping-address {
  font-size: 1.4rem;
  font-weight: 700;
}

/* form 2 */

/* form 3 */
